<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - PhoneStore Staff</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- AdminLTE + Bootstrap + FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.18/css/AdminLTE.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.18/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">
            <a href="#" class="logo">
                <span class="logo-mini"><b>PS</b></span>
                <span class="logo-lg"><b>PhoneStore</b> Staff</span>
            </a>

            <nav class="navbar navbar-static-top">
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="navbar-text" style="padding-right:10px;">
                            Welcome, @User?.Identity?.Name
                        </li>
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("Logout", "Account")">Logout <i class="fas fa-sign-out-alt"></i></a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Sidebar -->
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MENU</li>
                    @* <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> <span>Quay lại trang Home</span></a></li> *@
                    <li><a href="@Url.Action("Index", "Staff")"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a></li>
                    <li><a href="@Url.Action("Index", "Products")"><i class="fa fa-box"></i> <span>Product Management</span></a></li>
                    @* <li><a href="@Url.Action("Index", "ProductVariants")"><i class="fa fa-cogs"></i> <span>Variation Management</span></a></li> *@
                    <li><a href="@Url.Action("Index", "Vouchers")"><i class="fa fa-tags"></i> <span>Manage vouchers</span></a></li>
                    <li><a href="@Url.Action("Index", "Orders")"><i class="fa fa-shopping-cart"></i> <span>Order management</span></a></li>
                    <li><a href="@Url.Action("Index", "Brands")"><i class="fa fa-industry"></i> <span>Brands management</span></a></li>
                    <li><a href="@Url.Action("Index", "Colors")"><i class="fa fa-palette"></i> <span>Colors management</span></a></li>
                    <li><a href="@Url.Action("Index", "Versions")"><i class="fa fa-layer-group"></i> <span>Versions management</span></a></li>
                </ul>
            </section>
        </aside>

        <!-- Content -->
        <div class="content-wrapper">
            @RenderSection("naviheader", required: false)
            <section class="content">
                @RenderBody()
            </section>
        </div>

        <!-- Footer -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs"><b>Version</b> 1.0.0</div>
            <strong>Copyright © 2025 PhoneStore. All rights reserved.</strong>
        </footer>
    </div>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.18/js/adminlte.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
